$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 100%;


// FORM // ============================== //
.search-wrapper {
  form {
    width: 100%;
    margin: 45px auto;
    display: flex;
    justify-content: space-between;

    .group {
      position: relative;
      margin: 45px 0;
      padding: 2px;

      // INPUTS // ============================== //
      &#name {
        width: 70%;
      }

      &#year {
        width: 20%;
      }

      input {
        background: none;
        color: $muted-color;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $muted-color;

        &:focus {
          outline: none;
        }

        &:focus~label,
        &:valid~label {
          top: -14px;
          font-size: 12px;
          color: $hl-color;
        }

        &:focus~.bar:before {
          width: $width;
        }

      }

      label {
        color: $muted-color;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: $trans-time ease all;
      }

      .bar {
        position: relative;
        display: block;
        width: $width;

        &:before {
          content: '';
          height: 2px;
          width: 0;
          bottom: 0px;
          position: absolute;
          background: $hl-color;
          transition: $trans-time ease all;
          left: 0%;
        }
      }
    }
  }

  // BUTTONS // ============================== //
  .btn {
    background: #fff;
    color: mix(black, $muted-color, 25%);
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
      color: mix(black, $muted-color, 30%);
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    }

    &.btn-link {
      background: $hl-color;
      color: mix(white, $hl-color, 80%);

      &:hover {
        background: darken($hl-color, 5%);
        color: mix(white, $hl-color, 85%);
      }
    }

    &.btn-submit {
      background: $hl-color;
      color: mix(white, $hl-color, 70%);

      &:hover {
        background: darken($hl-color, 5%);
        color: mix(white, $hl-color, 85%);
      }
    }

    &.btn-cancel {
      background: #eee;

      &:hover {
        background: darken(#eee, 5%);
        color: mix(black, $muted-color, 30%);
      }
    }
  }

  .btn-box {
    text-align: center;
    margin: 50px 0;
  }
}
